html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Merriweather', serif;
    display: flex
    align-items: center;
    justify-content: center;
}